.landing_container {
  width: 80%;
  margin: 0 auto;
}

.landing_image {
  display: flex;
}

.landing_image img {
  max-width: 75%; 

}

.landing_text {
  margin-left: auto;
  text-align: right;
  margin-top: 30vh;
  font-size: 40px;
  color: #18216d;
}

.landing_text h2 {
  display: inline-block;
}

.landing_text h2 span {
  margin-right: 5px;
}


/* Media query for mobile devices (adjust the breakpoint as needed) */
@media only screen and (max-width: 768px) {

  .landing_container {
    width: 100%; /* Set width to 100% for full screen */
    height: 100vh; /* Set height to 100 viewport height */
  }

  .landing_image {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center elements horizontally */
    position: absolute; /* Position image absolutely */
    top: 20%; /* Position image to top */
    left: 0; /* Position image to left */
    width: 100%; /* Set image width to 100% */
    height: 100%; /* Set image height to 100% */
  }

  .landing_image img {
    max-width: 100%; /* Allow image to scale to full width */
    object-fit: cover; /* Ensure image covers entire container */
  }

  .landing_text {
    margin-left: 0; /* Remove left margin for centered text */
    text-align: center; /* Center text horizontally */
    position: relative; /* Position text relatively */
    z-index: 1; /* Set text on top of image with higher z-index */
    margin-top: 20px; /* Adjust margin top for spacing */
    font-size: 30px; /* Adjust font size for smaller screens */
  }
}

